<div class="jumbotron text-center" id="post-head">

		<h2>About the miami markets</h2>
		<p>Post any second hand stuff that others might need.</p>
</div>

<div class="container">

	<div class="col-md-7">
 		<h3><strong>The purpose of the miami markets</strong></h3>
  	<h4> I am one of the international students in Miami University. Ever since I came here, I felt the need of online market where students can freely share their used items. From my own personal experience, there were many students who wanted to either sell or buy the used items. However, there wasn’t a proper place for them to fulfill their need. Although this website is still in the development stage, I hope many students can share their second-hand items.

There is one more thing! I am a master student of the department of physics. If you are interested in developing additional utilities in this website with me, please email me.<!-- leeha2@miamioh.edu --> You will be always welcomed.
		</h4>

<br>
		<h3><strong>How to use the miami markets</strong></h3>
		<h4>
		For the issue of privacy and safety, here is the way I suggest;
<br>First, contact the sellers or buyers via <strong>university emails</strong> or <strong>facebook email</strong>.
<br>Second, after a few conversation contact the sellers or buyers via <strong>cell phones</strong>.
<br>Third, please meet the sellers or buyers in <strong>a campus, daytime, person-to-person</strong>.
		</h4>

<br>
<br>

<h4>
P.S. Special thanks to Seo and Mary.
</h4>

<br>
<!-- <p id="supergentle"><strong>by supergentle</strong></p> -->

	</div>

	<div class="col-md-5" id="logo-in-about">
	<p><img src="http://www.topretirements.com/images/city/155.jpg" height="auto" width="auto"></p>
	</div>

</div>
