<% @cuser = User.find(session[:user_id]) %>

<div class="jumbotron text-center" id="post-head">
	<h2>Edit your post.</h2>
	<p></p>
</div>

<div class="container">
<div class="row"> 
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<form action="/market/edit_complete" method="post" enctype="multipart/form-data">
  	<input type="hidden" name="id" value="<%= @post.id %>">
			<p> Category:
				<% if @cuser.id == 2%>
				<select name="post_category">
					<option value="Notice">Notice</option>
				<% else %>
				<select name="post_category">
					<option value="Rent/Housing">Rent/Housing</option>
					<option value="Cars/Trucks">Cars/Trucks</option>
					<option value="Bicycles">Bicycles</option>
					<option value="Second hands">Second hands</option>
					<option value="Free topics">Free topics</option>
				</select>
				<% end %>
				</p>
  		<p><input class="form-input" type="text" name="post_title" value="<%= @post.title %>"></p>
  		<p><textarea class="form-textarea" name="post_content"><%= @post.content %></textarea></p>
			<p>Upload a photo</p>
			<p><input type="file" name="image"></p>
  		<input class="btn btn-lg btn-block" type="submit" value="edit">
		</form>
	</div>
	<div class="col-md-2">
	</div>
</div>

</div>
