<div class="container">
	<% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>

<div class="row"> 
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		<h3 class="form-heading">Edit</h3>

		<form action="/market/edit_complete" method="post" enctype="multipart/form-data">
  	<input type="hidden" name="id" value="<%= @post.id %>">
  	<p>category:
  		<select name="post_category">
    		<option value="Rent/Housing">Rent/Housing</option>
    		<option value="Cars/Trucks">Cars/Trucks</option>
    		<option value="Second hands">Second hands</option>
    		<option value="Free topics">Free topics</option>
  		</select></p>
  		<p><input class="form-input" type="text" name="post_title" value="<%= @post.title %>"></p>
  		<p><textarea class="form-textarea" name="post_content"><%= @post.content %></textarea></p>
			<p>Upload a photo</p>
			<p><input type="file" name="image"></p>
  		<input class="btn btn-lg btn-block" type="submit" value="edit">
		</form>
	</div>
	<div class="col-md-2">
	</div>
</div>

</div>
