<div class="jumbotron text-center" id="post-head">
  		<h2>The list of all my posts</h2>
			<p>I recommend you to delete your posts once ever your items sold out for future security and privacy matters.</p>
</div>

<div class="container" id="post-category">
<%= render :partial => "market/posts" %>
</div>
