<div class="jumbotron text-center" id="post-head">
		<h2>Your search results</h2>
		<p> Searching process is based on titles of posts.</p>
</div>

<div class="container" id="post-category">

	<%= render :partial => "market/posts" %>

</div>
