<p><%= flash[:alert] %></p>
<h2>Items</h2>

<div style="border: 1ps solid #ffffff">
	<h4>Title: <%= @post.title %></h4>
	<p style="color: #ff0000">Category: <%= @post.category%></p>
	<p> Content: <%= @post.content %></p>
	
	<p><a href="/">Go back to the full list.</a></p>
</div>
