<div class="jumbotron text-center" id="post-head">
		<h2>See all users</h2>
		<p> Unathorized approach could be treated illegal attempt.</p>
</div>

<div class="container">

	<%= render :partial => "users/allusers" %>	

</div>
