<p><%= flash[:alert] %></p>
<h2>Log in</h2>

<form action="/users/login_complete" method="post">
	<p>username: <input type="text" name="username"></p>
	<p>password: <input type="password" name="password"></p>
	<input type="submit" value="log in">
</form>
