<div class="jumbotron text-center" id="post-head">
		<h2>About <%= @user.username %></h2>
		<p> Unathorized approach could be treated illegal attempt.</p>
</div>

<div class="container">

	<button type="button" class="btn btn-lg"><a href="/users/userban/<%= @user.id %>">BAN PERMANENTLY</a></button>
	
</div>
